.wide-list {
  width: auto;
  height: auto;
  display: block;
  text-align: center;
}
.wide-list li {
  padding: 50px;
  display: inline-block;
}
.large-bg-div {
  position: absolute;
}
.image-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
