.wide-list {
  width: auto;
  height: auto;
  display: block;
  text-align: center;
}
.wide-list li {
  padding: 50px;
  display: inline-block;
}
.header-top {
  padding: 50px;
}
.large-bg-div {
  position: absolute;
}
.image-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.big-div-caption {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 10%;
}
.big-div-caption .title {
  font-size: 24px;
  color: white;
}
.big-div-caption .caption {
  font-size: 6px;
  color: white;
}
.small-bg-div-caption {
  width: 100%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 10%;
}
.small-bg-div-caption .title {
  font-size: 8px;
  color: white;
}
.small-bg-div-caption .caption {
  font-size: 6px;
  color: white;
}
.image-and-text-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#third-section {
  padding: 0;
}
.image-flow {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.image-main {
  width: auto;
  height: 800px;
}
.image-side {
  width: 50%;
  height: auto;
}
@media (max-width: 767px) {
  /* First section */
  div > .image-column {
    display: none;
  }
  /******************/
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* First section */
  body > #first-section {
    height: 100%;
  }
  /*******************/
  /* Second section */
  div > .image-and-text-column {
    flex-direction: column;
  }
  /*****************/
}
/* Large devices (large desktops, 1200px and up) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 0;
}
h1 {
  top: 75%;
  position: absolute;
}
.img-container {
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: -1 !important;
}
.equal {
  display: flex;
  flex-wrap: wrap;
}
