#third-section {
  padding: 0;
  overflow: hidden;
}
.overflov-div {
  padding: 15px 0 0 0;
}
.image-flow {
  display: flex;
  min-width: 150%;
  width: auto;
  flex-direction: row;
  box-sizing: content-box;
}
.image-main {
  width: auto;
  max-width: 30%;
  height: auto;
  padding: 0 15px 0 15px;
}
.image-side {
  width: 30% !important;
  height: auto;
  overflow: hidden;
}
