#third-section {
  padding: 0;
  overflow: hidden;
}
.overflov-div {
  padding: 15px 0 0 0;
}
.image-flow {
  display: flex;
  min-width: 150%;
  width: auto;
  flex-direction: row;
  margin-left: -20%;
}
.image-main {
  width: auto;
  min-width: 30%;
  height: 400px;
  padding: 0 15px 0 15px;
}
.image-side {
  width: 30% !important;
  height: 400px;
  overflow: hidden;
}
